.animation__cooking {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    opacity: 0.95;
    animation: fadeOut 3s linear;
    animation-fill-mode: forwards;
}

.veg {
    position: relative;
    width: 45%;
    transform-origin: center;
    animation-fill-mode: forwards;

    //media queries "tablette"
    @include responsive(tablet) {
        width: 20%;
    }

    //media queries "desktop"
    @include responsive(desktop) {
        width: 15%;
    }

    //media queries "landscape"
    @media (orientation: landscape) {
        width: 15%;
    }
}

.tomato {
    top: -150%;
    left: -2%;
    transform: translateY(0) rotate(180deg);
    animation: fall-2 3s linear;
}

.turnip {
    top: -150%;
    left: 1%;
    transform: translateY(0) rotate(-85deg);
    animation: fall-1 3s linear;
}

.potato {
    top: -150%;
    left: 2%;
    transform: translateY(0) rotate(0deg);
    animation: fall-1 3s linear;
}

.mushroom {
    top: -150%;
    left: 2.5%;
    transform: translateY(0) rotate(0deg);
    animation: fall-1 3s linear;
}

.onion {
    top: -150%;
    left: -3%;
    transform: translateY(0) rotate(0deg);
    animation: fall-2 3s linear;
}

.squash {
    top: -150%;
    left: -1%;
    transform: translateY(0) rotate(-35deg);
    animation: fall-1 3s linear;
}

.carrot {
    top: -150%;
    left: 3%;
    transform: translateY(0) rotate(0deg);
    animation: fall-2 3s linear;
}

.pot {
    position: fixed;
    object-position: center;
    bottom: -10%;
    margin-bottom: -10%;
    width: 90%;
    z-index: 4;
    transform: rotate(.5deg);
    animation: boiling 0.1s ease infinite alternate;
    animation-iteration-count: 50;
    animation-fill-mode: forwards;

    //media queries "tablette"
    @include responsive(tablet) {
        width: 40%;
        bottom: -10%;
    }

    //media queries "desktop"
    @include responsive(desktop) {
        width: 30%;
    }

    //media queries "landscape"
    @media (orientation: landscape) {
        width: 30%;
        bottom: -5%;
    }
}