//footer//
footer {
    background: $bck-clr-dark;
    color: $font-clr-light;
    padding: 0 0 2rem 0.5rem;

    //media queries "tablette"
    @include responsive(tablet) {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        padding: 1rem;
    }

    //media queries "desktop"
    @include responsive(desktop) {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        padding: 1rem;
    }

    .footer__logo {
        padding: 1rem 0 1rem 1rem;

        //media queries "tablette"
        @include responsive(tablet) {
            width: 41%;
            font-size: $fs-xlarge;
        }

        //media queries "desktop"
        @include responsive(desktop) {
            width: 35%;
            font-size: $fs-xlarge;
        }
    }

    ul {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        //media queries "tablette" 
        @include responsive(tablet) {
            width: 59%;
            height: 50px;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 2%;
        }

        //media queries "desktop"
        @include responsive(desktop) {
            width: 65%;
            height: 25px;
            @include flex-row;
            justify-content: center;
            align-items: flex-start;
            gap: 2%;
        }

        li {
            display: inline-block;
            padding: 0 0 0 1rem;

            //media queries "tablette"
            @include responsive(tablet) {
                width: 49%;
                padding: .125rem .125rem;
            }

            @include responsive(desktop) {
                width: auto;
                padding: 0;
            }

            a {
                .icon {
                    color: $font-clr-light;

                    &--partnership {
                        margin-right: 0.375rem;
                    }

                    &--suggest {
                        color: $font-clr-light;
                        margin-right: 0.75rem;
                    }
                }

                p {
                    position: relative;
                    color: $font-clr-light;
                    display: inline;

                    &:hover {
                        color: $clr-tertiary;
                        transition: all 0.3s ease-in-out;
                    }
                }

                p::after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    display: inline;
                    height: 1px;
                    background: $font-clr-light;
                    width: 100%;
                    transform: scale(0);
                    transition: all 0.3s ease-in-out;
                }

                p:hover::after {
                    transform: scale(1);
                    background: $clr-tertiary;
                }
            }
        }
    }
}