//footer//
footer {
    background: $bck-clr-dark;
    color: $font-clr-light;
    padding: 0 0 2rem 0.5rem;

    .footer__logo {
        padding: 1rem 0 1rem 1rem;
    }

    ul {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        li {
            display: inline-block;
            padding: 0 0 0 1rem;

            a {
                .icon {
                    color: $font-clr-light;

                    &--partnership {
                        margin-right: 0.375rem;
                    }

                    &--suggest {
                        color: $font-clr-light;
                        margin-right: 0.75rem;
                    }
                }

                p {
                    position: relative;
                    color: $font-clr-light;
                    display: inline;

                    &:hover {
                        color: $clr-tertiary;
                        transition: all 0.3s ease-in-out;
                    }
                }

                p::after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    display: inline;
                    height: 1px;
                    background: $font-clr-light;
                    width: 100%;
                    transform: scale(0);
                    transition: all 0.3s ease-in-out;
                }

                p:hover::after {
                    transform: scale(1);
                    background: $clr-tertiary;
                }
            }
        }
    }
}

@media screen and (min-width: 880px) {
    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-height: 200px;
        gap: 10%;
        padding: 1rem;
    }

    .footer__logo {
        width: 30%;
        font-size: $fs-gigantic;
        text-align: center;
    }

    footer ul {
        width: 68%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2%;

        li {
            width: 49%;
            padding: 0.5rem;
        }

        li:nth-child(-n +2) {
            margin-left: -1.875rem;
        }

        li:nth-child(4) {
            margin-left: -1.875rem;
        }
    }
}