@import "../sass-utils/variables";

//restaurants//
.restaurants {
    width: 100%;
    background: $bck-clr-light;
    padding-bottom: 4rem;

    h1 {
        padding: 3rem 0 2rem 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: nowrap;

        a {
            width: 100%;

            &:hover {
                .card {
                    transform: scale(1.01);
                    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
                    background: rgba($clr-tertiary, 0.1);

                    img {
                        opacity: 0.5;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25%;
    width: 100%;
    min-width: 250px;
    background: $bck-clr-xlight;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;

    img {
        max-height: 175px;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
    }

    .card__lower {
        min-height: 35%;
        width: 100%;
        color: $font-clr-dark;
    }

    h3 {
        padding: 1rem 0 0.2rem 1rem;
    }

    .card__location {
        padding: 0 0rem 1rem 1rem;
    }

    .card__new {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 0.9rem;
        font-weight: $font-weight-medium;
        background: $clr-tertiary;
        color: #008766;
        padding: 0.4rem 0.7rem;
        border-radius: 0.2rem;
    }

    .icon__toggle {
        .bi {
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            font-size: 1.5rem;
        }
    }
}