//section restaurants//
.restaurants {
    width: 100%;
    background: $bck-clr-light;
    padding-bottom: 4rem;

    h1 {
        padding: 3rem 0 2rem 0;
    }

    &__wrapper {
        @include flex-column;
        gap: 2rem;
        flex-wrap: nowrap;

        //media queries "tablette"
        @include responsive(tablet) {

            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            gap: 2rem;
        }

        //media queries "desktop"
        @include responsive(desktop) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            gap: 2rem;
        }

        a {
            width: 100%;

            //media queries "tablette"
            @include responsive(tablet) {
                width: calc(50% - 1rem);
                height: auto;
            }

            //media queries "desktop"
            @include responsive(desktop) {
                width: 22%;
                height: auto;
            }

            &:hover {
                .card {
                    transform: scale(1.01);
                    @include boxShadowHover;
                    background: rgba($clr-tertiary, 0.1);

                    img {
                        opacity: 0.5;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.restaurants .card {
    position: relative;
    @include flex-row;
    flex-wrap: wrap;
    height: 25%;
    width: 100%;
    min-width: 250px;
    background: $bck-clr-xlight;
    border-radius: 1rem 1rem 1rem 1rem;
    @include boxShadowNotHover;
    transition: all .5s ease-in-out;

    //media queries "tablette"
    @include responsive(tablet) {
        height: auto;
        min-width: 100px;
    }

    //media queries "desktop"
    @include responsive(desktop) {
        min-width: 0;
        height: 100%;
        max-height: 275px;
        width: 100%;
    }

    img {
        max-height: 175px;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
        transition: all 0.5s ease-in-out;

        //media queries "desktop"
        @include responsive(desktop) {
            min-height: 200px;
        }
    }

    .card__lower {
        min-height: 35%;
        width: 100%;
        color: $font-clr-dark;
    }

    h3 {
        padding: 1rem 0 0.2rem 1rem;
    }

    .card__location {
        padding: 0 0rem 1rem 1rem;
    }

    .card__new {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 0.9rem;
        font-weight: $font-weight-medium;
        background: $clr-tertiary;
        color: #008766;
        padding: 0.4rem 0.7rem;
        border-radius: 0.2rem;
    }

    .icon__toggle {
        .bi {
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
            font-size: 1.5rem;

            //media queries "desktop"
            @include responsive(desktop) {
                bottom: 1rem;
                right: 0.5rem;
            }
        }
    }
}