//section operation//
.operation {
    padding-bottom: 4rem;

    h1 {
        padding: 3rem 0 2rem 0;
    }

    ul {
        width: 100%;
        @include flex-column;
        gap: 1.5rem;

        //media queries "tablette et desktop"
        @include responsive(tablet-desktop) {
            @include flex-row;
        }

        .list {
            position: relative;
            width: 90%;
            margin: auto;
            background-color: $bck-clr-light;
            padding: 1.5rem 1.5rem;
            border-radius: 1.2rem;
            @include boxShadowNotHover;
            transition: all 0.3s ease-in-out;

            //media queries "tablette et desktop"
            @include responsive(tablet-desktop) {
                width: 30%;
            }

            &:hover {
                background-color: rgba(147, 86, 220, 0.1);
                @include boxShadowHover;
            }

            &:hover i {
                color: $clr-primary;
            }

            a {
                height: 30px;
                display: flex;
                align-items: center;
            }

            &__number {
                position: absolute;
                top: 33%;
                left: -15px;
                padding: 5px 10px 5px 10px;
                border-radius: 50%;
                background: $clr-primary;
            }

            &__icon {
                display: inline-block;
                color: #7e7e7e;
                vertical-align: baseline;
                transition: all 0.3s ease-in-out;
            }

            h4 {
                padding: 0 0 0 1rem;
                display: inline-block;
            }
        }
    }
}