//mixins//

//animation delay//
@mixin cardsAnimationDelay {
    @for $i from 1 through 10 {
        .card--#{$i} {
            animation-delay: 0 + ($i * 0.1s);
        }
    }
}

//flex box//
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

//box shadow//
@mixin boxShadowNotHover {
    box-shadow: .5rem .7rem .7rem rgba(0, 0, 0, 0.1);
}

@mixin boxShadowHover {
    box-shadow: .5rem .7rem 1rem rgba(0, 0, 0, 0.2);
}

@mixin responsive ($breakpoint) {

    @if $breakpoint==tablet {
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
            @content;
        }
    }


    @if $breakpoint==desktop {
        @media only screen and (min-width: 1025px) {
            @content;
        }
    }


    @if $breakpoint==tablet-desktop {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
}

// @mixin responsive_height ($var-height) {
//     @if $var-height==short {
//         @media only screen and (max-height: 399px) {
//             $var-smoke: -20vmin;
//             @content;
//         }
//     }

//     @if $var-height==med {
//         @media only screen and (min-height: 400px) and (max-height: 799px) {
//             $var-smoke: 0;
//             @content;
//         }
//     }

//     @if $var-height==tall {
//         @media only screen and (min-height: 800px) {
//             $var-smoke: 20vmin;
//             @content;
//         }
//     }
// }