@import "../sass-utils/variables";

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: $bck-clr-xlight;

    footer,
    header {
        width: 100%;
    }

    section {
        padding: 0 1rem;
    }
}