@import "../libs/reset.css";
@import "../libs/fonts.css";

//variable//
$clr-primary: #9356DC;      //primary color
$clr-secondary: #FF79DA;    //secondary color
$clr-tertiary: #99E2D0;     //tertiary color

$clr-gradient: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

$bck-clr-xlight: #fff;      //extra light background color 
$bck-clr-light: #f6f6f6;    //light background color
$bck-clr-medium: #eaeaea;   //medium background color
$bck-clr-dark: #353535;     //dark background color

$font-clr-light: #fff;      //light font color
$font-clr-dark: #000;       //dark font color
$font-clr-green: #99E2D0;   //green font color

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//body//
body {
    width: 100%;
    background-color: $bck-clr-xlight;
    a:link {
        text-decoration: none;
        color: inherit;
    }
}

//header//
.header {
    width: 100%;
}
.arrow--link {
    padding-left: 1.5rem;
    padding-right: 3.4rem;
}
.header__logo {
    display: inline-block;
    text-align: center;
    padding: 1rem 0 0.4rem 0;
}

//global section//
section {
    width: 100%;
    padding: 0 1rem;
}

//section search//
.section__search {
    width: 100%;
    padding: 1rem 0 1rem 0;
    background-color: $bck-clr-medium;
    border-top: 2px solid  #cecece;   
}

.search__input {
    display: inline-block;
    padding-left: 28%;
         input {
            width:58%;
            background: none;
            font-size: 1.031rem;
            font-weight: $font-weight-medium;
            border: none;
            opacity: 1;
            padding-left: 1rem;
            &:focus {
                background:rgba(147,86,220,0.1);
            }
            &:focus-visible {
                outline:none;
            }
        }        
}

//section feature//
.section__feature--image {
    img {
        object-fit: cover;
    }
}

//section menu//
.section__menu {
    position: relative;
    width: auto;
    padding: 2rem 0 2rem 0;
    background: $bck-clr-light;
    border-radius: 2.5rem 2.5rem 0 0;
    margin-top: -3.1rem;
    &--heading-1 {
        font-family: 'Shrikhand', cursive, sans-serif;
        font-size: 1.6rem;
        padding: 0 0 2rem 1rem;
    }
    &--wrapper {
        display: flex;
        flex-direction: column; 
    }
} 
.wrapper__entrees, .wrapper__plats, .wrapper__desserts {
    width: 100%;
    display: flex;
    flex-direction: column;
    &--heading-4 {
        position: relative;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1rem;
        padding: 0 0 2rem 1rem; 
    }
    &--heading-4:after {
        content:"";
        position: absolute;
        background: $clr-tertiary;
        top: 1.4rem;
        left: 1rem;
        width: 11.5%;
        height: 3px;
    }
    &--wrapper {
        padding: 0 1rem;
    }
}
.card {
    position:relative;
    width: 100%;
    background:white;
    border-radius: 0.85rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    &--title {
        padding: 1rem 0 0.1rem 1rem;
        font-weight: $font-weight-bold;
        font-size: 1.1rem;
    }
    &--details {
        padding: 0 0 1rem 1rem;
        font-size: 0.85rem;
    }
    &--price {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-size: 0.85rem;
        font-weight: $font-weight-bold;
    }
}
.section__menu--btn {

    margin:2rem 0 2rem 0;
    font-size: 1rem;
    font-weight: $font-weight-medium;
    color: $font-clr-light;
    padding: 0.9rem 3rem;
    border-radius: 2rem;
    border: none;
    background: $clr-gradient;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    &:hover {
        background: linear-gradient(180deg, rgba(255,121,218,0.9) 0%, rgba(147,86,220,0.9) 100%);
        box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    }
}

//section feature//
.section__feature {
    background: $bck-clr-light;
    text-align: center;
    padding-bottom: 60px;
}
.feature__heading-1 {
    padding: 2rem 15% 1rem 15%;
    width: auto;
}
.feature__text {
    font-size: 1.125rem;
    padding-bottom: 1.875rem;
}
.btn--gradient {
    font-size: 1rem;
    font-weight: $font-weight-medium;
    color: $font-clr-light;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: none;
    background: $clr-gradient;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    &:hover {
        background: linear-gradient(180deg, rgba(255,121,218,0.9) 0%, rgba(147,86,220,0.9) 100%);
        box-shadow: 0 5px 5px rgba(0,0,0,0.4);
    }
}

//section functioning//
.section__functioning {
    padding-bottom: 4rem;
        .function__heading-1 {
            padding: 3rem 0 2rem 0; 
        }
}
.function__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: $font-weight-medium;
        a {
            width: 100%;
            color: $font-clr-dark;
            font-size: 1rem;
            font-weight: $font-weight-medium;
            &:visited {
                text-decoration: none;
                color: $font-clr-dark;
            }
        }
}
.wrapper__list {
    position: relative;
    width: 90%;
    margin: auto;
    background-color: $bck-clr-light;
    padding: 30px 30px;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        &:hover {
            background-color: rgba(147,86,220,0.1);
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
        }   
        &:hover .icon {
            color: $clr-primary;
        }
        .number {
            position: absolute;
            top: 33%;
            left: -15px;
            display: inline-block;
            padding: 5px 10px 5px 10px;
            border-radius: 50%;
            font-size: 0.9rem;
            color: $font-clr-light;
            background: $clr-primary;
        }
        .list-1__icon, .list-2__icon, .list-3__icon {
            display: inline-block;
            color: #7e7e7e;
        }
        p {
            padding-left: 1rem;
            display: inline-block;
            font-size: 1rem;
            font-weight: $font-weight-medium;
        }
}

//restaurants//
.section__restaurants {
    width: 100%;
    background: $bck-clr-light;
    padding-bottom: 4rem;
    .heading-1 {
        padding: 3rem 0 2rem 0;
    }
    .restaurants__wrapper {
        display: flex;
        flex-direction:column;
        gap: 2rem;
        flex-wrap: nowrap;
        @media screen and (min-width: 600px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
.wrapper__card {
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25%;
    width: 100%;
    max-width: 600px;
    background: $bck-clr-xlight;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
    @media screen and (min-width: 600px) {
        width: calc(50% - 1rem);
        max-width: 100%;
    }
    .image {
        max-height:175px;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }
    .card__lower {
        height: 35%;
    }
    .card__new {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 0.9rem;
        font-weight: $font-weight-medium;
        background: $clr-tertiary;
        color: #008766;
        padding: 0.4rem 0.7rem;
        border-radius: 0.2rem;
    }
}
.restaurants__wrapper {
    a {
        width:100%;
        &:hover {
            .wrapper__card {
                box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
                background: rgba($clr-tertiary,0.1);
            }
            .card__lower {
                // color: lighten($clr-primary, 10%);
            }
            .image {
                opacity: 0.5;

            }
        }
    }
}
.card__lower {
    width: 100%;
    color: $font-clr-dark;
    .heading-3 {
        padding: 1rem 0 0.2rem 1rem;
        font-size: 1.15rem;
        font-weight: $font-weight-bold;
    }
    p {
        padding: 0 0rem 1rem 1rem;
    }
    .icon--border {
        display: block;
        position: absolute;
        background: $bck-clr-xlight;
        bottom: 2.5rem;
        right: 2rem;
    }
    .icon--fill {
        display:none;
        position: absolute;
        bottom: 2.5rem;
        right: 2rem;
    }
}
.icon--toggle {
    // width:12px;
    // height: 12px;
    &:hover {
        .icon--border {
            display: none;
        }
        .icon--fill {
            display:block;
            height: fit-content;
            background-clip: text;
            background-image: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1));
            color: transparent;
        }
    }
}
.card-3__new, .card-4__new {
    display: none;
}

//footer//
footer {
    width: 100%;
    background: $bck-clr-dark;
    color: $font-clr-light;
    padding: 0 0 2rem 0;
    .logo {
        padding: 1rem 0 1rem 1rem;
    }
    .footer_wrapper {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.8rem;
    }
    li {
        padding: 0 0 0 1rem;
        width: 100%;
        p {
            width:auto;
            color:$font-clr-light;
        }
    }
    a:hover {
        p {
        color: $clr-tertiary;
        transition: all 0.2s ease-in-out;
        }
    }
}
